.conten{
    width: 700px;
    height: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
}
.conten div{
    background-color: blueviolet;
    color: #ffffff;
    text-align: center;
    padding: 25px;
    width: 70px;
    height: 8px;
    border-radius: 3px;
}
.conten div:nth-of-type(8){
    grid-area: 2/6/2/6;
}